local
build
.dockerignore
Manifest.toml
.kate*

examples/Manifest*
examples/.Magic/companion-host.json
examples/.Magic/certs
examples/.Magic/served-files/generated
examples/data/

net-layer/third/openssl-OpenSSL_1_1_1t/*.so*
net-layer/third/openssl-OpenSSL_1_1_1t/*.a
net-layer/third/openssl-OpenSSL_1_1_1t/*.o
net-layer/third/openssl-OpenSSL_1_1_1t/**/*.o
net-layer/third/openssl-OpenSSL_1_1_1t/install/
net-layer/third/openssl-OpenSSL_1_1_1t/test/

net-layer/third/icu-release-78.1/*.so*
net-layer/third/icu-release-78.1/*.a
net-layer/third/icu-release-78.1/*.o
net-layer/third/icu-release-78.1/**/*.o
net-layer/third/icu-release-78.1/install/
net-layer/third/icu-release-78.1/test/
net-layer/third/icu-release-78.1/.github

net-layer/third/libwebsockets-4.3.2/minimal-examples
