local
.kate*
examples/.Lit/certs
examples/.Lit/served-files/cache

net-layer/third/openssl-OpenSSL_1_1_1t/*.so*
net-layer/third/openssl-OpenSSL_1_1_1t/*.a
net-layer/third/openssl-OpenSSL_1_1_1t/*.o
net-layer/third/openssl-OpenSSL_1_1_1t/**/*.o
net-layer/third/openssl-OpenSSL_1_1_1t/install/
net-layer/third/openssl-OpenSSL_1_1_1t/test/

icu-release-78.1/*.so*
icu-release-78.1/*.a
icu-release-78.1/*.o
icu-release-78.1/**/*.o
icu-release-78.1/install/
icu-release-78.1/test/
icu-release-78.1/.github
